*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
}


.navbar-nav{
    width: 100%;
    display: flex;
    gap: 3.2%;
}
.collapse img{
    display: flex;
    padding-right: 3%;
}

li{
    font-size: 1.1rem;
}


/* navbar end */


#carouselExampleDark{
    width: 88%;
    margin: auto;
}


/* sliderend */





.heading{
    width: 50%;
    margin: auto;
    padding-top: 5%;
}





.card-group{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}

.car1{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;

}

.car1 img{
    border-radius: 10px 10px 0px 0px;
}

.card-body{
    padding-left: 7%;
}
.card-body h5{
    font-size: 1.2rem;
    padding-top: 4%;
}
.card-body p{
    width: 90%;
    font-size: 1rem;
}





.car2{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.car2 img{
    border-radius: 10px 10px 0px 0px;
}

/* .2boxes end */


.heading2{
    width: 20%;
    padding-top: 7%;
    margin: auto;
}

.row {
    width: 80%;
    /* background-color: #FFFFFF; */
    margin: auto;
    margin-top: 2%;
}


.card1{
    border-radius: 2%;
    background-color: #FFFFFF;

}
.row h5{
    padding-top: 10%;
}

.row p{
    font-size: 1.1rem;
    padding-top: 5%;
}


.card1 img{
    border-radius: 5% 5% 0% 0%;
}

.card2{
    background-color: #FFFFFF;

}

.card3{
    background-color: #FFFFFF;

}

